.classpath
.gradle/*
.settings/*
bin/*
.lock
.project
build/*
/build/
.metadata/*
Servers/*
decorpot-services/src/main/java/com/decorpot/services/impl/ImageListImpl.java
.recommenders*
*.csv

*.sh

default

*.conf
