<div id="page">
	<div class="section about">
		<div class="header">
			<h2 class="aboutTitle">About Decorpot</h2>
			<div class="meta">"Decorpot understands every homeowner's
				dream. We are a professional Bangalore- based Interior design
				company offering our clientele with the most comprehensive interior
				designing services. Our pro interior designers & architects will
				distill your ideas into an interior design that ideally fits into
				your home space. Creatively we craft for you a home interior that
				clearly defines your style and at the same time looks durable enough

				Through our plethora of services we ensure that each and every need
				of a client is perfectly met be it sourcing amazing furniture & home
				embellishments, designing the entire interior of newly constructed
				homes, designing utilitarian interior space plan and the like. In a
				word we help you live your dream of a ‘Home Sweet Home’ as we deeply

				understand every Home’s Dream."</div>
		</div>
	</div>
	<div class="section workflow">
		<h2 class="aboutTitle">Decorport: Our USP</h2>
		<div class="meta">At Decorport, we specialize in a wide range of
			classic and contemporary designs for commercial, residential and
			retail interiors. At Decorport our aim is to transform empty space
			into a dazzling activity zone and create homes and offices which
			fulfill every expectation of the owner. We take pride in detailing
			our 5 point USP which makes us different and better than our
			competition. Read on to know more.</div>

		<h2 class="aboutTitle">Great work at affordable price</h2>
		<div class="meta">We provide industry best services that are
			commensurate with international standards of design. Our signature
			style of interior design at great budget prices has earned us a solid
			name in the industry. We have made it a goal to beautify spaces and
			enliven brick and mortar structures according to the budget and
			specifications of our valued clients. Our extensive network of
			material suppliers and co designers and procurers has enabled us to
			maintain very competitive rates via trade discounts.</div>

		<h2 class="aboutTitle">5 Years Warranty</h2>

		<div class="meta">Our solid 5 years warranty on materials,
			design and service has made us a trustworthy name in the industry.
			Any defect, service issue or extraneous damage that happens to our
			design projects in the 5 year warranty period will be addressed by us
			free of charge (subject to conditions). Our expert designer team can
			handle any emergency that crops up during the project and we are
			always available one phone call or one e mail away.</div>

		<h2 class="aboutTitle">Service Visit Every 180 Days</h2>

		<div class="meta">At Decorport our relationship with our
			customers merely starts after the execution of our projects. Our

			symbiotic approach to designing ensures that holistic support
			services and service visits are a regular part of our client
			relationship structure. Not only do we ensure flawless execution but
			it is important for use to ensure that our interior projects are
			enjoyed by our clients free from glitches. Hence our unique 180 days
			service visit offer.</div>

		<h2 class="aboutTitle">45 Days Delivery</h2>

		<div class="meta">We live in a dynamic super fast environment
			where every service is available on demand in a super short period of
			time. Our express delivery mode ensures that the most lavish and
			intricate interior designing services are executed in only 45 days.
			We have a phased execution plan that factors in client feedback and
			inputs at every stage. We ensure that you are fully involved in the
			conceptualization and execution of your interior project.</div>

		<h2 class="aboutTitle">Look Before You Decide</h2>

		<div class="meta">Browse through our eclectic interior design
			portfolio or call our representative for a full guided tour of any of
			our dazzling interior projects. At Decorport we know that your home/
			office/ retail space is an important part of our life and this is why
			we prefer giving our clients a full tour of our work before offering
			our services. You can also opt to avail of our trial offer by
			contacting our sales representative.</div>
	</div>
	<div class="section whyus"></div>
</div>