<div id="page">
	<div class="section about">
		<div class="header">
			<h2 class="aboutTile">About Decorpot
			</h2>
			<div class="meta">
				"Decorpot is a vision founded by young entrepreneurs, who want to provide a stylish, comfortable yet affordable everyday to every Indian. They want to make every house in India elegant and beautiful.





We @ Decorpot sincerely believe that beauty and style does not always come with price. We aim to provide stylish, tasteful and quality interiors at very affordable prices. Decorpot is driven by creativity, powered by thought leadership and run on customer centricity." 
				
			</div>
		</div>
	</div>
	<div class="section workflow">
	</div>
	<div class="section whyus"></div>
</div>