<div class="apartments">

<ul id="carousel">
	<li><img width="400" height="215" alt="" src="resources/core/img/kit1.jpg" /></li>
	<li><img width="400" height="215" alt="" src="resources/core/img/img2.jpg" /></li>
	<li><img width="400" height="215" alt="" src="resources/core/img/img3.jpg" /></li>
	<li><img width="400" height="215" alt="" src="resources/core/img/img4.jpg" /></li>
	<li><img width="400" height="215" alt="" src="resources/core/img/img5.jpg" /></li>
	<li><img width="400" height="215" alt="" src="resources/core/img/img6.jpg" /></li>
	<li><img width="400" height="215" alt="" src="resources/core/img/img7.jpg" /></li>
</ul>
</div>