<div class="apartments" ui-view>
	<div class="col-md-3 .col-xs-12 .col-sm-6 imgContainerOuter"
		ng-repeat="apartment in apartments | filter:query">
		<div class="imgContainer shrink">
			<a  ui-sref="apartments.apartment({aprtId : '{{apartment.aprt_group}}-{{apartment.apartment_name}}-{{apartment.bhk}}'})">
				<img src={{apartment.image_id}}>
			</a>
		</div>
		<div class="textProjects">
			<h4>{{apartment.apartment_name}} - {{apartment.bhk}}</h4>
			<div class="row">
			<span class="startingFrom">Price Starting from </span><span class="startingFrom">Rs. {{apartment.price | roundoffnumber}}</span>
			</div>
		</div>
	</div>
</div>