<div class="containing">

	<div id="imageHDView" class="col-md-8">
		<img id="imageHd" src="{{PATH_HD}}">
	</div>
	<div class="col-md-4" id="rightSection">
		<div id="title" class= "col-xs-12 col-sm-12 col-md-12">
			<h2>{{apartmentName}} - {{bhk}}</h2>
		</div>
		<div id="priceAndTime" class ="col-xs-12 col-sm-12 col-md-12">
			<div class="col-xs-6 col-sm-6 col-md-6" style="padding: 0;"><span class="WebRupee">₹ </span> {{totalPrice}}</div>
			<div class="col-xs-6 col-sm-6 col-md-6">45 days delivery</class>
		</div>
<!-- 		<div id="smalliconsText">Select Color</div> -->
<!-- 		<ul id="colors"> -->
<!-- 			<li ng-repeat="color in colors | filter:query"> -->
<!-- 				<div id="imageViewContainer" style="background-color: {{" -->
<!-- 					ng-init="($first) ? getViewsByColors(color) : ''" -->
<!-- 					ng-click="getViewsByColors(color)"></div> -->
<!-- 			</li> -->
<!-- 		</ul> -->
		<div id="smalliconsText">Spaces</div>
		<ul id="thumbnails">
			<li ng-repeat="group in groups  | filter:query" data-ng-click="toggleObject.item = $index" >
			<div data-ng-class="{'active' : toggleObject.item == $index }" ng-init="($first) ? getImageGroupData(group.groupId) : ''" 
				ng-click="getImageGroupData(group.groupId)">
				{{group.imageSpace}}
			</div>
			</li>
		</ul>
		
		<div id="smalliconsText">Spaces</div>
		<ul id="thumbnails">
			<li ng-repeat="view in views " data-ng-click="toggleObject.item = $index" >
			<div data-ng-class="{'active' : toggleObject.item == $index }" ng-init="($first) ? setImage(view.PATH_MEDIUM) : ''" 
				ng-click="setImage(view.PATH_MEDIUM)">
				<img id="imageViewContainer" ng-src="{{view.PATH_SMALL}}"/>
			</div>
			</li>
		</ul>
		<div class="priceMetrics"></div>
		
	</div>
</div>
<div classs="description"></div>
</div>