<div id="cartDetails">
	<div class="table-responsive">
		<table class="" width="100%" cellpadding="0" cellspacing="0"
			class="cart-table">
			<thead>
				<tr>
					<td colspan="1" class="qty-cell head-cell lborder"><span
						style="margin-left: 30%">Image</span></td>
					<td colspan="2" class="qty-cell head-cell lborder">Details</td>
					<td class="price-cell head-cell lborder">Price</td>
				</tr>
			</thead>

			<tbody class="cart-body">
				<tr class="item-row">
					<td colspan="1" class="allborder" style= "width:10%;">
						<ul id="imageDetails">
							<li class="col-md-12">
								<div id="cartImageTitle">Title of the Image</div>
								<div class="clearer"></div>
								<div id="cartImageContainer">
									<img src="resources/core/img/furniture03.jpg" width="200"
										height="100" alt="" />
								</div>
							</li>
						</ul>
					</td>
					<td colspan="2" class="allborder">
						<table width="100%" height="100%" cellspacing="0" cellpadding="0">
							<tbody>
								<tr>
									<td class="cell image-cell">
										<div class="carty-image fk-text-center fk-position-relative">
											<a
												href="/hp-15-ac042tu-notebook-core-i3-4th-gen-4gb-1tb-free-dos-m9u96pa/p/itme8yj4c8uakn2d?pid=COME8YJ4BEFZUANH"
												class="img-link"> <img onerror="img_onerror(this);"
												data-error-url="https://img1a.flixcart.com/com/laptop.jpg"
												src="https://img1a.flixcart.com/image/computer/a/n/h/hp-notebook-75x75-imae8yz3ncvzh5vu.jpeg"
												class="product-image"
												alt="HP 15-ac042TU (Notebook) (Core i3 4th Gen/ 4G...">
											</a>
										</div>
									</td>
									<td class="cell item-cell "><span class="title fk-font-14">HP
											15-ac042TU (Notebook) (Core i3 4th Gen/ 4G...</span>
										<p class="fk-font-11 font-color-medium">15.6 inch, Jack
											Black Color With Textured Diamond Pattern</p>
										<div class="line tmargin5 fk-font-12">
											Seller: <span class="fk-bold">CYCLONE</span> | <span
												class="fa-icon"></span>
										</div></td>
								</tr>
							</tbody>
						</table>
					</td>
					<td class="allborder">Rs 100000.00</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>