<div class="contactUs">
	<div class="contactUsWriteUp">
		<div>
			<p>At decorpot we are always happy to welcome you and guide you
				through the best design for you. We believe at delivering at the
				cheapest cost possible. So you dont wait for your dream home to be
				yours. Please Contact Us to talk to our design experts or leave your
				contact and let us call you.</p>
		</div>
		<div class="contactBox">
			<div>
				<h1 class="catchSmall">Decorpot Office</h1>
				<p>
					<span class="contactAttribute">Phone Number :</span><span>
						+91-8123029902</span>
				</p>
				<p>
					<span class="contactAttribute">Email :</span><span>
						info@decorpot.com</span>
				</p>
				<p style="padding-bottom: 25%;">
					<span class="contactAttribute">Address :</span> <span> #799,
						19th Main, 23rd Cross, 2nd floor, Sector 2 Near HSR club,
						Bangalore 560102</span>
				</p>
			</div>
		</div>
		<div class="contactBox"></div>
	</div>

</div>