
       <div id="backgroundImage" class="left"></div>
       <div class="clearer"></div>
       <div id="services">
        <ul>
           <li class="service col-md-5ths .col-xs-12 .col-sm-4">
             <img src="resources/core/img/furniture05.png" alt="" />
             <h4>2 years for free service</h4>
             <h2>lorum ipsum totum ipsum lorum ipsum totum ipsum lorum ipsum totum ipsum lorum ipsum totum ipsum lorum ipsum totum ipsum lorum ipsum totum ipsum lorum ipsum totum ipsum lorum ipsum totum ipsum lorum ipsum totum ipsum lorum ipsum totum ipsum lorum ipsum totum ipsum lorum ipsum totum ipsum lorum ipsum totum ipsum lorum ipsum totum ipsum lorum ipsum totum ipsum lorum ipsum totum ipsum lorum ipsum totum ipsum lorum ipsum totum ipsum lorum ipsum totum ipsum lorum ipsum totum ipsum </h2>
           </li>
           <li class="service col-md-5ths .col-xs-12 .col-sm-4">
             <img src="resources/core/img/furniture01.jpg"  alt="" />
             <h4>Easy customization</h4>
             <h2>lorum ipsum totum ipsum lorum ipsum totum ipsum lorum ipsum totum ipsum lorum ipsum totum ipsum lorum ipsum totum ipsum lorum ipsum totum ipsum lorum ipsum totum ipsum lorum ipsum totum ipsum lorum ipsum totum ipsum lorum ipsum totum ipsum lorum ipsum totum ipsum lorum ipsum totum ipsum lorum ipsum totum ipsum lorum ipsum totum ipsum lorum ipsum totum ipsum lorum ipsum totum ipsum lorum ipsum totum ipsum lorum ipsum totum ipsum lorum ipsum totum ipsum lorum ipsum totum ipsum </h2>
           </li>
           <li class="service col-md-5ths .col-xs-12 .col-sm-4">
             <img src="resources/core/img/furniture02.jpg" alt="" />
             <h4>10 years of garantee</h4>
             <h2>lorum ipsum totum ipsum lorum ipsum totum ipsum lorum ipsum totum ipsum lorum ipsum totum ipsum lorum ipsum totum ipsum lorum ipsum totum ipsum lorum ipsum totum ipsum lorum ipsum totum ipsum lorum ipsum totum ipsum lorum ipsum totum ipsum lorum ipsum totum ipsum lorum ipsum totum ipsum lorum ipsum totum ipsum lorum ipsum totum ipsum lorum ipsum totum ipsum lorum ipsum totum ipsum lorum ipsum totum ipsum lorum ipsum totum ipsum lorum ipsum totum ipsum lorum ipsum totum ipsum </h2>
           </li>
           <li class="service col-md-5ths .col-xs-12 .col-sm-4">
             <img src="resources/core/img/furniture03.jpg" alt="" />
             <h4>45 days completion&#42</h4>
             <h2>lorum ipsum totum ipsum lorum ipsum totum ipsum lorum ipsum totum ipsum lorum ipsum totum ipsum lorum ipsum totum ipsum lorum ipsum totum ipsum lorum ipsum totum ipsum lorum ipsum totum ipsum lorum ipsum totum ipsum lorum ipsum totum ipsum lorum ipsum totum ipsum lorum ipsum totum ipsum lorum ipsum totum ipsum lorum ipsum totum ipsum lorum ipsum totum ipsum lorum ipsum totum ipsum lorum ipsum totum ipsum lorum ipsum totum ipsum lorum ipsum totum ipsum lorum ipsum totum ipsum </h2>
           </li>
           <li class="service col-md-5ths .col-xs-12 .col-sm-4">
             <img src="resources/core/img/furniture04.jpg"alt="" />
             <h4>cheapest in market</h4>
             <h2>lorum ipsum totum ipsum lorum ipsum totum ipsum lorum ipsum totum ipsum lorum ipsum totum ipsum lorum ipsum totum ipsum lorum ipsum totum ipsum lorum ipsum totum ipsum lorum ipsum totum ipsum lorum ipsum totum ipsum lorum ipsum totum ipsum lorum ipsum totum ipsum lorum ipsum totum ipsum lorum ipsum totum ipsum lorum ipsum totum ipsum lorum ipsum totum ipsum lorum ipsum totum ipsum lorum ipsum totum ipsum lorum ipsum totum ipsum lorum ipsum totum ipsum lorum ipsum totum ipsum </h2>
           </li>
         </ul>
       </div>
       <div class="clearer"></div>
       <div class = "imageMenus container">
         <div class = "image-tiles col-md-4">
           <a href="#imageListSpace/living">
             <img class="imageMenu" src="resources/core/img/living.jpg" width="316" height="343">
             <h3 class = "imageMenuCation">Living Room</h3>
           </a>
         </div>
         <div class = "image-tiles col-md-4">
           <a href="#/imageListSpace/kitchen">
             <img class="imageMenu" src="resources/core/img/kitchen.jpg" width="316" height="343">
             <h3 class = "imageMenuCation">Kitchen</h3>
           </a>
         </div>
         <div class = "image-tiles col-md-4">
           <a href="#imageListSpace/bedroom">
             <img class="imageMenu" src="resources/core/img/dining.jpg" width="316" height="343">
             <h3 class = "imageMenuCation">Dining</h3>
           </a>
         </div>
         
         <div class = "image-tiles col-md-12">
           <a href="#">
             <img class="imageMenu" src="resources/core/img/bedroom.jpg" width="100%" height="343">
             <h3 class = "imageMenuCation">Bedroom</h3>
           </a>
         </div>
       </div>
       <div class="testimonial hide" >
         <div class="cd-testimonials-wrapper cd-container">
           <ul class="cd-testimonials">
             <li>
               <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
               <div class="cd-author">
                 <img src="resources/core/img/avatar-1.jpg" alt="Author image">
                 <ul class="cd-author-info">
                   <li>MyName</li>
                   <li>CEO, AmberCreative</li>
                 </ul>
               </div>
             </li>
             
             <li>
               <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
               <div class="cd-author">
                 <img src="resources/core/img/avatar-1.jpg" alt="Author image">
                 <ul class="cd-author-info">
                   <li>MyName</li>
                   <li>CEO, AmberCreative</li>
                 </ul>
               </div>
             </li>
             
             <li>
               <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
               <div class="cd-author">
                 <img src="resources/core/img/avatar-1.jpg" alt="Author image">
                 <ul class="cd-author-info">
                   <li>MyName</li>
                   <li>CEO, AmberCreative</li>
                 </ul>
               </div>
             </li>
           </ul> <!-- cd-testimonials -->
         </div>
       </div>
