

       <div id="backgroundImage" class="left"></div>
       <div class="captions ">
						<h2 class="fadeInUp animated catchBold">Designing Spaces. Defining Lifestyle.</h2>
						<p class="fadeInUp animated catchSmall hide">Delivering your dream design at most affordable price. No compromises on Quality!!!</p>
					</div>
       <div class="clearer"></div>
       <div id="services">
        <ul>
           <li class="service col-md-5ths col-xs-12 col-sm-4">
             <img src="resources/core/img/badgeQuality.png" alt="" />
           </li>
           <li class="service col-md-5ths col-xs-12 col-sm-4">
             <img src="resources/core/img/INDI7.png" alt="" />
             
           </li>
           <li class="service col-md-5ths col-xs-12 col-sm-4">
             <img src="resources/core/img/IndiV5.png" alt="" />
            
           </li>
           <li class="service col-md-5ths col-xs-12 col-sm-4">
             <img src="resources/core/img/IndiV8.png" alt="" />
            
           </li>
           <li class="service col-md-5ths col-xs-12 col-sm-4">
             <img src="resources/core/img/qualityindiV2.png" alt="" />
             
           </li>

         </ul>
       </div>
       <div class="clearer"></div>
       <div class = "imageMenus container">
         <div class = "image-tiles col-md-4">
           <a href="#imageListSpace/living">
             <img class="imageMenu" src="resources/core/img/living.jpg"></a>
             <h3 class = "imageMenuCation">Living Room</h3>
         </div>
         <div class = "image-tiles col-md-4">
           <a href="#/imageListSpace/kitchen">
             <img class="imageMenu" src="resources/core/img/kitchen.jpg" ></a>
             <h3 class = "imageMenuCation">Kitchen</h3>
         </div>
         <div class = "image-tiles col-md-4">
           <a href="#imageListSpace/dining">
             <img class="imageMenu" src="resources/core/img/dining.jpg"></a>
             <h3 class = "imageMenuCation">Dining</h3>
         </div>
         <div class = "image-tiles col-md-4">
           <a href="#imageListSpace/master_Bedroom">
             <img class="imageMenu" src="resources/core/img/mbr.jpg"></a>
             <h3 class = "imageMenuCation">Master Bedroom</h3>
         </div>
         <div class = "image-tiles col-md-4">
           <a href="#imageListSpace/master_Bedroom">
             <img class="imageMenu" src="resources/core/img/kids.jpg"></a>
             <h3 class = "imageMenuCation">Guest Bedroom</h3>
         </div>
         <div class = "image-tiles col-md-4">
           <a href="#imageListSpace/master_Bedroom">
             <img class="imageMenu" src="resources/core/img/bed2.jpg"></a>
             <h3 class = "imageMenuCation">Kids Bedroom</h3>
         </div>
       </div>
       <div class="testimonial hide" >
         <div class="cd-testimonials-wrapper cd-container">
           <ul class="cd-testimonials">
             <li>
               <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
               <div class="cd-author">
                 <img src="resources/core/img/avatar-1.jpg" alt="Author image">
                 <ul class="cd-author-info">
                   <li>MyName</li>
                   <li>CEO, AmberCreative</li>
                 </ul>
               </div>
             </li>
             
             <li>
               <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
               <div class="cd-author">
                 <img src="resources/core/img/avatar-1.jpg" alt="Author image">
                 <ul class="cd-author-info">
                   <li>MyName</li>
                   <li>CEO, AmberCreative</li>
                 </ul>
               </div>
             </li>
             
             <li>
               <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
               <div class="cd-author">
                 <img src="resources/core/img/avatar-1.jpg" alt="Author image">
                 <ul class="cd-author-info">
                   <li>MyName</li>
                   <li>CEO, AmberCreative</li>
                 </ul>
               </div>
             </li>
           </ul> <!-- cd-testimonials -->
         </div>
       </div>
