

<div class="row">
	<div class="col-md-12">
		<div id="owl-demo" class="owl-carousel owl-theme" owl-carousel-big>

			<div class="item">
				<img src="resources/core/img/CGMMBR18.jpg" alt="The Last of us">
			</div>
			<div class="item">
				<img src="resources/core/img/kids2.jpg" alt="GTA V">
			</div>
			<div class="item">
				<img src="resources/core/img/CSGKIT14M.jpg" alt="Mirror Edge">
			</div>

		</div>
	</div>
</div>
<div class="row" id="services">
	<div class="col-md-12">
			<div class="service col-md-5ths col-xs-5ths col-sm-5ths">
				<img src="resources/core/img/badgeQuality.png" alt="" />
			</div>
			<div class="service col-md-5ths col-xs-5ths col-sm-5ths">
				<img src="resources/core/img/INDI7.png" alt="" />
			</div>
			<div class="service col-md-5ths col-xs-5ths col-sm-5ths">
				<img src="resources/core/img/IndiV5.png" alt="" />
			</div>
			<div class="service col-md-5ths col-xs-5ths col-sm-5ths">
				<img src="resources/core/img/IndiV8.png" alt="" />
			</div>
			<div class="service col-md-5ths col-xs-5ths col-sm-5ths">
				<img src="resources/core/img/qualityindiV2.png" alt="" />
			</div>
	</div>
</div>

<div class="clearer"></div>
<div class="imageMenus container">
	<div class="image-tiles col-md-4">
		<a href="#imageListSpace/living"> <img class="imageMenu"
			src="resources/core/img/living.jpg"></a>
		<h3 class="imageMenuCation">Living Room</h3>
	</div>
	<div class="image-tiles col-md-4">
		<a href="#/imageListSpace/kitchen"> <img class="imageMenu"
			src="resources/core/img/CSGKIT14.jpg"></a>
		<h3 class="imageMenuCation">Kitchen</h3>
	</div>
	<div class="image-tiles col-md-4">
		<a href="#imageListSpace/dining"> <img class="imageMenu"
			src="resources/core/img/dining.jpg"></a>
		<h3 class="imageMenuCation">Dining</h3>
	</div>
	<div class="image-tiles col-md-4">
		<a href="#imageListSpace/master_Bedroom"> <img class="imageMenu"
			src="resources/core/img/CGMMBR18.jpg"></a>
		<h3 class="imageMenuCation">Master Bedroom</h3>
	</div>
	<div class="image-tiles col-md-4">
		<a href="#imageListSpace/guest_Bedroom"> <img class="imageMenu"
			src="resources/core/img/CTGR3.jpg"></a>
		<h3 class="imageMenuCation">Guest Bedroom</h3>
	</div>
	<div class="image-tiles col-md-4">
		<a href="#imageListSpace/kids_Bedroom"> <img class="imageMenu"
			src="resources/core/img/MGMKR10.jpg"></a>
		<h3 class="imageMenuCation">Kids Bedroom</h3>
	</div>
</div>
<div class="testimonial hide">
	<div class="cd-testimonials-wrapper cd-container">
		<ul class="cd-testimonials">
			<li>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed
					do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
				<div class="cd-author">
					<img src="resources/core/img/avatar-1.jpg" alt="Author image">
					<ul class="cd-author-info">
						<li>MyName</li>
						<li>CEO, AmberCreative</li>
					</ul>
				</div>
			</li>

			<li>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed
					do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
				<div class="cd-author">
					<img src="resources/core/img/avatar-1.jpg" alt="Author image">
					<ul class="cd-author-info">
						<li>MyName</li>
						<li>CEO, AmberCreative</li>
					</ul>
				</div>
			</li>

			<li>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed
					do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
				<div class="cd-author">
					<img src="resources/core/img/avatar-1.jpg" alt="Author image">
					<ul class="cd-author-info">
						<li>MyName</li>
						<li>CEO, AmberCreative</li>
					</ul>
				</div>
			</li>
		</ul>
		<!-- cd-testimonials -->
	</div>
</div>
