<div class="imageFilters hide">
	<div class="col-md-2 ">
	<div  class="hide" id="priceRange"></div>
	</div>
	<div class="col-md-4 themes"></div>
	<div class="col-md-4 themes"></div>
</div>
<div class="clearer"></div>
<div id="two-columns" class="grid-container">
	<ul class="rig columns-2">
			<li ng-repeat="image in imageList | filter:query">
			<a href="#imageView/{{image.groupId}}">
				<div id="imageContainer">
					<img bn-lazy-src="{{image.pathSmall}}" />
				</div>
				<div id="priceText" class = "col">
					<div class="col-xs-6">
						<span>{{image.imageTitle}}</span>
					</div>
					<div class="col-xs-6">
						<span>Starting from </span><span>Rs {{image.price}}</span>
					</div>
					<div class="col-xs-3 hide">
						<span>Add to cart</span>
					</div>
				</div>
			</a>
		</li>
	</ul>
</div>
