<div id="four-columns" class="grid-container">
      <ul class="rig columns-4">
        <li>
          <div class = "image" style="background:no-repeat url('img/img2.jpg')">
          
          <div class="imageText" ><p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p></div>
            </div>
         
        </li>
        <li>
          <div class = "image" style="background:no-repeat url('img/img3.jpg')">
          
          <div class="imageText" ><p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p></div>
            </div>
        </li>
        <li>
         <div class = "image" style="background:no-repeat url('img/img4.jpg')">
          
          <div class="imageText" ><p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p></div>
            </div>
        </li>
        <li>
         <div class = "image" style="background:no-repeat url('img/img5.jpg')">
          
          <div class="imageText" ><p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p></div>
            </div>
        </li>
        <li>
          <div class = "image" style="background:no-repeat url('img/img6.jpg')">
          
          <div class="imageText" ><p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p></div>
            </div>
        </li>
        <li>
          <div class = "image" style="background:no-repeat url('img/img7.jpg')">
          
          <div class="imageText" ><p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p></div>
            </div>
        </li>
        <li>
         <div class = "image" style="background:no-repeat url('img/img8.jpg')">
          
          <div class="imageText" ><p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p></div>
            </div>
        </li>
        <li>
         <div class = "image" style="background:no-repeat url('img/img9.jpg')">
          
          <div class="imageText" ><p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p></div>
            </div>
        </li>
        <li>
          <div class = "image" style="background:no-repeat url('img/img8.jpg')">
          
          <div class="imageText" ><p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p></div>
            </div>
        </li>
        <li>
         <div class = "image" style="background:no-repeat url('img/img7.jpg')">
          
          <div class="imageText" ><p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p></div>
            </div>
        </li>
        <li>
          <div class = "image" style="background:no-repeat url('img/img6.jpg')">
          
          <div class="imageText" ><p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p></div>
            </div>
        </li>
        <li>
         <div class = "image" style="background:no-repeat url('img/img5.jpg')">
          
          <div class="imageText" ><p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p></div>
            </div>
        </li>
        <li>
       <div class = "image" style="background:no-repeat url('img/img4.jpg')">
          
          <div class="imageText" ><p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p></div>
            </div>
        </li>
        <li>
          <div class = "image" style="background:no-repeat url('img/img3.jpg')">
          
          <div class="imageText" ><p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p></div>
            </div>
         
        </li>
        <li>
          <<div class = "image" style="background:no-repeat url('img/img2.jpg')">
          
          <div class="imageText" ><p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p></div>
            </div>
        </li>
        <li>
         <div class = "image" style="background:no-repeat url('img/img1.jpg')">
          
          <div class="imageText" ><p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p></div>
            </div>
        </li>
      </ul>