<div class= "containing">
<div class="col-md-9">

	<div id="imageView">
		<div class="col-md-6 smallicons">
			<div id="smalliconsText">Select Color</div>
			<ul id="colors">
				<li ng-repeat="color in colors | filter:query">
					<div id="imageViewContainer" style="background-color: {{
						color.color}};"
						ng-init="($first) ? getViewsByColors(color) : ''"
						ng-click="getViewsByColors(color)"></div>
				</li>
			</ul>

		</div>
		<div class="col-md-6 smallicons">

			<div id="smalliconsText">Select Angle</div>
			<ul id="thumbnails">
				<li ng-repeat="thumbnail in color.thumbnails  | filter:query">
					<img id="imageViewContainer" src="{{thumbnail.PATH_SMALL}}"
					ng-init="($first) ? getHdImage(thumbnail.IMAGE_ID) : ''"
					ng-click="getHdImage(thumbnail.IMAGE_ID)" />
				</li>
			</ul>
		</div>
	</div>
	<div class="clearer"></div>
	<div id="imageHDView">
		<img id="imageHd" src="{{PATH_HD}}">
	</div>
	</div>
<div class="col-md-3" id="rightSection">
	<div id="getDone"><h5>Get this done at attractive price of Rs. 100000.00</h5></div>
	<div id="title"><h2>Image Title</h2></div>
	<div id="desc"><p>lorum ipsum totum ipsum lorum ipsum totum ipsum
		lorum ipsum totum ipsum lorum ipsum totum ipsum lorum ipsum totum
		ipsum lorum ipsum totum ipsum lorum ipsum totum ipsum lorum ipsum
		totum ipsum lorum ipsum totum ipsum lorum ipsum totum ipsum lorum
		ipsum totum ipsum lorum ipsum totum ipsum lorum ipsum totum ipsum
		lorum ipsum totum ipsum lorum ipsum totum ipsum lorum ipsum totum
		ipsum lorum ipsum totum ipsum lorum ipsum totum ipsum lorum ipsum
		totum ipsum lorum ipsum totum ipsum</p></div>
	<div class="clearer"></div>
	<div id="selectionRadio">
		<div id="iwantTo">I want to</div>
		<div id="radioButton">
			<input type="radio" name="selection" value="onlyImage" ng-model="content"/>  Buy this image
		</div>
		<div id="radioButton">
			<input type="radio" name="selection" value="complete" ng-model="content"/>  Get this done
		</div>
	</div>

	<div class = "clearer"></div>
	<div id="contents">
	<div id="content" ng-show="content == 'onlyImage'">
		<p id="infoText">Buy this image at only Rs. 1000.Buying this image you will get B&Q and free call back from experts for complete explanation</p>
		<input type = "checkbox" ng-model="customization">  Include customization @Rs499.00
		<br>
		<textarea id="custText"type="text" class="form-control" ng-show="customization" ng-model="custText"></textarea>
		<br>
		<div id="addToCart" class="btn btn-primary btn-lg buyNCartButton" ng-click="addToCart(groupId)">Add To Cart</div>
		<a id="buyNow" class="btn btn-primary btn-lg" href="#/buy/{{groupId}}">Buy Now</a>	
	</div>

	<div id="content" ng-show="content == 'complete'">
		<p id="infoText">Buy this image at only Rs. 1000.Buying this image you will get B&Q and free call back from experts for complete explanation</p>
		<div id="addToCart" class="btn btn-primary btn-lg buyNCartButton" ng-click="addToCart(groupId)">Add To Cart</div>
		<a id="getItDone" class="btn btn-primary btn-lg" href="#/done/{{groupId}}">Get It Done!</a>	
	</div>
	</div>
	</div>
</div>