<div id="projects">

	<div class="col-md-3">
		<ul class="sidebar">
			<li class="eachSidebar"><a href="">
					<div class="projectName">Salarpuria</div>
			</a></li>
			<li class="eachSidebar"><a href="">
					<div class="projectName">Salarpuria</div>
			</a></li>
			<li class="eachSidebar"><a href="">
					<div class="projectName">Salarpuria</div>
			</a></li>
		</ul>
	</div>
	<div class="col-md-9">
		<div id="gallery">
			<a href="resources/core/img/living.jpg"><img src="resources/core/img/living.jpg"
				alt="Photo 1" /></a> 
			<a href="resources/core/img/img1.jpg"><img
				src="resources/core/img/img1.jpg" alt="Photo 2" /></a> 
			<a href="resources/core/img/bedroom.jpg"><img src="resources/core/img/bedroom.jpg"
				alt="Photo 3" /></a>
				<a href="resources/core/img/Home-decor.jpg"><img src="resources/core/img/Home-decor.jpg"
				alt="Photo 1" /></a> 
			<a href="resources/core/img/Home-decor2.jpg"><img
				src="resources/core/img/Home-decor2.jpg" alt="Photo 2" /></a> 
			<a href="resources/core/img/living.jpg"><img src="resources/core/img/living.jpg"
				alt="Photo 3" /></a>
				<a href="resources/core/img/living.jpg"><img src="resources/core/img/living.jpg"
				alt="Photo 1" /></a> 
			<a href="resources/core/img/living.jpg"><img
				src="resources/core/img/living.jpg" alt="Photo 2" /></a> 
			<a href="resources/core/img/living.jpg"><img src="resources/core/img/living.jpg"
				alt="Photo 3" /></a>
		</div>
		<script type="text/javascript">
				$( function() {
   				 $( '#gallery' ).jGallery();
		} );
</script>
	</div>

</div>