<div id="projects">

	<div class="col-md-3">
		<ul class="sidebar">
			<li class="eachSidebar" ng-repeat="project in projects | filter:query">
					<a href="" ng-init="($first) ? getImagesByAppartment(project) : ''"
						ng-click="getImagesByAppartment(project)"><div class="projectName">{{project}}</div></a>
			</li>
		</ul>
	</div>
	<div class="col-md-9">
	<div class="preview" align="center">
		<img name="preview" src="{{imageSrc}}" ng-show="content" alt=""/>
	</div>
	<div class="thumbnails">
		<img data-ng-src="{{image.SMALL_PATH}}" alt="" ng-repeat="image in images | filter:query" ng-init="($first) ? getImageSrc(image) : ''"
					ng-click="getImageSrc(image)"/>
		</div>
		</div>

</div>