<div id="projects">

	<div class="col-md-3">
		<ul class="sidebar">
			<li class="eachSidebar"><a href="">
					<div class="projectName">Salarpuria</div>
			</a></li>
			<li class="eachSidebar"><a href="">
					<div class="projectName">Salarpuria</div>
			</a></li>
			<li class="eachSidebar"><a href="">
					<div class="projectName">Salarpuria</div>
			</a></li>
		</ul>
	</div>
	<div class="col-md-9">
		<div id="gallery">

			<ul class="pgwSlideshow">
				<li><img src="resources/core/img/living.jpg"
					></li>
				<li><img src="resources/core/img/img1.jpg"
					></li>
				<li><img src="resources/core/img/bedroom.jpg" ></li>
				<li><img src="resources/core/img/Home-decor2.jpg" alt=""></li>
				<li><img src="resources/core/img/Home-decor2.jpg" alt=""></li>
				<li><img src="resources/core/img/img1.jpg" alt=""></li>
			</ul>
		</div>
		<script type="text/javascript">
			$(function() {
				var pgwSlideshow = $('.pgwSlideshow').pgwSlideshow();
			});
		</script>
	</div>

</div>